<%- include('partials/admin-header'); -%>
<div class="container h-100">
        <div class="row mb-3">
            <div class="border shadow-sm rounded">
                <div class="row align-items-center p-2 g-2">
                  <div class="col-sm-6 col-md-4 col-lg-6">
                    <a href="" class="nav-link"><h5>Products (<%=products.length %>)</h5></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <input
                      id="search-products"
                      onkeyup="searchProducts(this)"
                      type="text"
                      class="form-control rounded"
                      placeholder="Search"
                      aria-label="Recipient's username"
                      aria-describedby="button-addon2"
                    />
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <select
                      id="search-filter"
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option value="0" selected>Number</option>
                      <option value="1" >ID</option>
                      <option value="2" >Name</option>
                      <option value="4">Category</option>
                      
                    </select>
                  </div>
                </div>
                <div class="row align-items-center p-2 g-2">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Barcode</th>
                                <th scope="col">Category</th>
                              </tr>
                            </thead>
                            <tbody id="records" class="table-group-divider">
                                <% if(products.length >0 ){ %>
                                    <% products.forEach((record)=>{ %>
                                        <tr>
                                            <th class="ids" scope="row"><%= ++number %></th>
                                            <td><%= record.p_id %></td>
                                            <td><%= record.p_name %></td>
                                            <td><%= record.p_barcode %></td>
                                            <td><%= record.p_category %></td>
                                            <td><button onclick="edit_products('<%= record.p_id %>','<%= record.p_name %>','<%= record.p_category %>')" class="btn text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Edit</button></td>
                                        </tr>
                                    <% }) %>
                                <% }else{ %>
                                    <tr>
                                        <th class="ids" scope="row"></th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                <% } %>
                            </tbody>
                          </table>

                          <% if (error !=null) { %>
                            <p class="text-danger"><%= error %></p>
                          <% } %>
                    </div>
                    
                </div>
        </div>
        
        
    
    

    </div>
    <div class="row mb-3">
        <div class="mb-3">
            <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-         expanded="false" aria-controls="collapseExample"><i class="bi bi-plus-lg"></i>
    Create New Product
            </button>
            
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="/display-products" method="post" class="row ">
                    <div class="col-md-8 col-sm-12">
                        <label for="" class="form-label">Name</label>
                      <input  type="text" name="productName" class="form-control"  aria-label="First name" required>
                    </div>
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">Category</label>
                        <select name="category" id="inputState" class="form-select" required>
                            <option value="Liquid" selected>Liquid</option>
                            <option value="Fragile">Fragile</option>
                            <option value="Chemical">Chemical</option>
                            <option value="Regular">Regular</option>
                        </select>                    
                    </div>
                    <div class="col-md-2 pb-0">
                        <label for="inputState" class="form-label"></label>
                        <button type="submit" class="btn btn-success form-control ">submit</button>
                      </div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="row" >
        <div class="collapse mb-3" id="collapseExample2">
            <div class="card card-body">
                <form id="edit_form" action="/display-products2" method="post" class="row ">
                    <div class="col-md-8 col-sm-12">
                        <label for="" class="form-label">Name</label>
                      <input id="product_name" type="text" name="productName" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Category</label>
                        <select name="category" id="radio" class="form-select">
                            <option value="Liquid">Liquid</option>
                            <option value="Fragile">Fragile</option>
                            <option value="Chemical">Chemical</option>
                            <option value="Regular">Regular</option>
                        </select>                    
                    </div>
                    <div class="col-12 mt-3">
                        <button id="modifybtn" type="submit" formaction="/display-products2?modify=" class="btn btn-success">Submit</button>
                        <button id="deletebtn" type="submit" formaction="/display-products2?deleter=" class="btn btn-danger">Delete</button>
                        
                    </div>
                </form>
            </div>
          </div>
    </div>
    

</div>


<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
></script>
<script src="test.js"></script>

    
</body>
</html>